snippet <table "table"
<table>
	<thead>
		<tr>
			<th>$1</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>$2</td>
		</tr>
	</tbody>
</table>
endsnippet

snippet Vue "Vue"
var app = new Vue({
	el: "#$0",
	data: {
	},
	methods: {
	},
});
endsnippet
