snippet if "if (condition) { ... }"
if($1){
    $0
}
endsnippet

snippet sub "sub"
sub $1{
    $0
}
endsnippet

snippet opt "Getopt"
use Getopt::Std;
#getopts('ab:c:'); # $opt_a
getopts('$1');
endsnippet

snippet binmode "binmode"
binmode $1, ":encoding(utf8)";
endsnippet
