snippet strftime "strftime"
import datetime
datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
endsnippet

snippet random "random"
import random
random.randint(10000000, 99999999)
random.random() # float: 0~1
endsnippet

snippet decorator "decorator"
def $0(func):
    def wrapped_func(*args, **kwargs):
        return func(*args, **kwargs)
    return wrapped_func
endsnippet
