snippet ct "create table"
create table if not exists \`$1\` (
	\`id\` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
	$0
	\`create_time\` timestamp NOT NULL DEFAULT current_timestamp,
	primary key (id)
) ENGINE=InnoDB CHARSET=utf8;
endsnippet

